
body {
    background-color: rgb(238, 231, 199);
} 

.container-overall{
    padding-top: 10%;
    border: 0;
}
 nav {
    padding: 20px;
    text-align: center; 
}
a {
    font-size: 15px;
    color:  rgb(185, 167, 133);
    padding: 10px;
    text-align: center;
}

.smallerLinked {
    padding-left: 30px;
    width: 90%;
}

img {
    width: 100%;
    text-align: right;
}

p {
    padding: 20px;
    text-align: center;
    font-weight: 200;
}

.social-icons {
    width: 50%;
 }